body {
    font-family: Arial, sans-serif;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 1em;
    background:rgba(0,0,0,0.2);
}

section {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
}
